<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateEmployee</title>
    <!-- версия для разработки, включает отображение полезных предупреждений в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<h3>CreateEmployee</h3>
<div id="emp"></div>
<script src="/js/employees.js"></script>
</body>
</html>